<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.demo05.dao.CourseDAO">
    <!--使用标志位替换删除功能-->
    <delete id="deleteByIds">
        update cms_course set `active` = 0,update_date = #{auditEntity.updateDate},update_by=#{auditEntity.updateBy}
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <!--修改标志位代表数据恢复-->
    <delete id="restoreByIds">
        update cms_course set `active` = 1,update_date = #{auditEntity.updateDate},update_by=#{auditEntity.updateBy}
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <!--不指定active内容时，查询active=1的数据，配合删除使用-->
    <select id="getCourses" resultType="CourseBean">
        select id,course_id,course_name,credits,description,register_date,register_by,update_date,update_by,active
        from cms_course
        <where>
            <if test="courseBean.id != null and courseBean.id !=''">
                and id = #{courseBean.id}
            </if>
            <if test="courseBean.courseId != null and courseBean.courseId !=''">
                <bind name="courseIdLike" value="'%'+courseBean.courseId+'%'"/>
                and course_id like #{courseIdLike}
            </if>
            <if test="courseBean.courseName != null and courseBean.courseName != ''">
                <bind name="courseNameLike" value="'%'+courseBean.courseName+'%'"/>
                and course_name like #{courseNameLike}
            </if>
            <if test="courseBean.credits != null and courseBean.credits != ''">
                and credits = #{courseBean.credits}
            </if>
            <if test="courseBean.registerDateFrom != null">
                and register_date &gt;= #{courseBean.registerDateFrom}
            </if>
            <if test="courseBean.registerDateTo != null">
                and register_date &lt;= #{courseBean.registerDateTo}
            </if>
            <if test="courseBean.registerBy != null and courseBean.registerBy != ''">
                <bind name="registerByLike" value="'%'+courseBean.registerBy+'%'"/>
                and register_by like #{registerByLike}
            </if>
            <if test="courseBean.updateDateFrom != null">
                and update_date &gt;= #{courseBean.updateDateFrom}
            </if>
            <if test="courseBean.updateDateTo != null">
                and update_date &lt;= #{courseBean.updateDateTo}
            </if>
            <if test="courseBean.updateBy != null and courseBean.updateBy != ''">
                <bind name="updateByLike" value="'%'+courseBean.updateBy+'%'"/>
                and update_by like #{updateByLike}
            </if>
            <if test="courseBean.active == null">
                and `active` = 1
            </if>
            <if test="courseBean.active != null">
                and `active` = #{courseBean.active}
            </if>
        </where>
    </select>

    <select id="getMainInfo" resultType="course">
        select id, course_id, course_name, credits
        from cms_course
    </select>

    <select id="getCourseCount" resultType="int">
        select count(0)
        from cms_course
    </select>

</mapper>